<div class="animated fadeIn">


  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <div class="h4 m-0">100</div>
          <div>Invitation Sent</div>

          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div><!--/.col-->


    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <div class="h4 m-0">30</div>
          <div>Document Viewed</div>

          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <div class="h4 m-0">50</div>
          <div>Document Signed</div>

          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <div class="h4 m-0">20</div>
          <div>Pending</div>

          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">eSign Summary</h4>
          <div class="small text-muted">November 2017</div>
        </div><!--/.col-->
        <div class="col-sm-7 hidden-sm-down">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group">
              <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="option1"> Day
              </label>
              <label class="btn btn-outline-secondary active">
                <input type="radio" name="options" id="option2" checked> Month
              </label>
              <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="option3"> Year
              </label>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <div class="text-muted">Invited</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="hidden-sm-down">
          <div class="text-muted">Viewed</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li>
          <div class="text-muted">Signed</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="hidden-sm-down">
          <div class="text-muted">No Action</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-h">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <!--/.card-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Recent Documents
        </div>
        <div class="card-block">

          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Document Name</th>
                <th class="text-center">Signatories</th>
                <th>Status</th>
                <th>Activity</th>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Document1</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">25/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>

                <td>
                  <div class="small text-muted">Ashok Kadsur</div>
                  <strong>10 sec ago</strong>
                </td>
                <td class="text-center">



                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Document2</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">30/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>

                <td>
                  <div class="small text-muted">Gururaj</div>
                  <strong>1 hour ago</strong>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Document3</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">30/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>

                <td>
                  <div class="small text-muted">Gururaj</div>
                  <strong>3 min ago</strong>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Document4</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">30/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>

                <td>
                  <div class="small text-muted">Gururaj</div>
                  <strong>10 min ago</strong>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Document5</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/2.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">30/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>

                <td>
                  <div class="small text-muted">Gururaj</div>
                  <strong>20 min ago</strong>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
