<div class="animated fadeIn">


  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="row">
          <div class="col-md-12">
            <form>

              <div class="form-group">
                <label >Upload Your Documents</label>

                <input type="file"  class="form-control" accept=".pdf" id="localfileSource" (change)="fileEvent($event)" ng2FileSelect [uploader]="uploader" />


              </div>
            </form>
          </div>

        </div>

        <div class="row" *ngIf="uploader?.queue?.length>0" >

          <div class="col-md-12">

            Queue length: {{ uploader?.queue?.length }}

            <table class="table">
              <thead>
              <tr>
                <th >Name</th>
                <th>Size</th>
                <th>Progress</th>
              <!--  <th>Status</th>-->
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
            <!--    <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>-->
                <td nowrap>


                  <button type="button" class="btn btn-success btn-xs"
                          (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>


                    <span class="btn-group">
                    <button type="button" class="btn btn-secondary"  (click)="item.cancel()" [disabled]="!item.isUploading"><span class="fa fa-ban"></span></button>
                    <button type="button" class="btn btn-secondary"  (click)="item.remove()"><span class="fa fa-trash"></span></button>

                    </span>


                </td>
              </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div *ngIf="fileName ==''" class="col-md-12" style=" border: 1px solid #ddd; min-height: 300px; text-align: center; padding-top: 140px;">
          Please upload the file to See the preview here.
        </div>
        <div *ngIf="fileName" class="col-md-12" style=" border: 1px solid #ddd; min-height: 150px; text-align: center; padding-top: 10px;">

          <iframe border="0" id="iframe" style="width: 100%; height: 100vh;" ></iframe>
        </div>

      </div>
    </div>

    <div class="col-md-5 col-xs-12">





      <div class="x_content" style="min-height: 300px;" *ngIf="askAadhaar || askAadhaarOTP || eSignResponse"  >

        <!-- start form for validation -->
        <form id="demo-form" data-parsley-validate="" novalidate="">

          <p *ngIf="otpError && askAadhaar " class="bg-danger"> Failed to trigger OTP </p>

          <p *ngIf="askAadhaar" >
            <label for="fullname">Aadhaar Number * :</label>
            <input type="text" class="form-control" placeholder="Please enter Aadhaar Number" name="aadhaar" [(ngModel)]="aadhaar" required="">
            <label *ngIf="aadhaarError"  style="color: red;"> Please enter Aadhaar Number  </label>

            <br>
            <img *ngIf="loading" src="assets/img/progress.gif">

            <button *ngIf="!loading" type="button" class="btn btn-primary" (click)="validateAadhaar()"> Continue </button>
          </p>

          <div *ngIf="askAadhaarOTP" >


            <div class="card">
              <div class="card-block p-0 clearfix">
                <i class="fa fa-check bg-info p-2 font-2xl mr-1 float-left"></i>
                <div class="h5 text-info mb-0 pt-1">Success</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"> OTP has been sent successfully.</div>
              </div>
            </div>

            <p >
              <label for="fullname">OTP * :</label>
              <input type="text" id="fullname" class="form-control" placeholder="Please enter OTP Received"  name="aadhaarOTP" [(ngModel)]="aadhaarOTP" required="">
            </p>
            <p>
              <input type="checkbox" class="flat" name="termsandconditions" [(ngModel)]="termsandconditions">I agree to the <a href="#">Terms and Conditions</a>
            </p>
            <label *ngIf="aadhaarOtpError"  style="color: red;"> Please enter OTP  and Accept Terms and Conditions   </label>
            <br>
            <img *ngIf="loading" src="assets/img/progress.gif">

            <button  *ngIf="!loading"  type="button" class="btn btn-primary" (click)="validateOTP()"> Proceed</button>
          </div>

          <div *ngIf="eSignResponse" >
            <div class="panel-body">

              <div class="card" *ngIf="!otpError">
                <div class="card-block p-0 clearfix">
                  <i class="fa fa-check bg-info p-2 font-2xl mr-1 float-left"></i>
                  <div class="h5 text-info mb-0 pt-1">Success</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs"> Document eSigned successfully.</div>
                </div>
              </div>

              <div class="card" *ngIf="otpError">
                <div class="card-block p-0 clearfix">
                  <i class="fa fa-check bg-danger p-2 font-2xl mr-1 float-left"></i>
                  <div class="h5 text-info mb-0 pt-1">Failed</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">Failed Signed to sign document..</div>
                </div>
              </div>

              <p *ngIf="!otpError">Please download your eSigned document below.</p>

              <ul class="list-unstyled project_files" *ngIf="!otpError">
                <li><a href="{{esignedFileSource}}"  (click)="downloadFile()"><i class="fa fa-file-word-o"></i> eSignedocument.pdf</a>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" (click)="newDocument()"> eSign New Document</button>
            </div>
          </div>


        </form>
        <!-- end form for validations -->

      </div>


    </div>
  </div>













</div>
